# requests library to make HTTP requests web scraping and web interactions.
requests
six
# scrapy is framework that facilitates web crawling, scraping, and data extraction.
scrapy==2.11.2
scrapy-splash==0.9.0
yagmail==0.15.293 
mailjet-rest